## Python Language Basics

In [4]:
print("Hello World!")

Hello World!

### CODE STRUCTURE

**Use whitespaces(tabs or spaces) to structure code instead of braces**

*4 spaces - default indentation*

In [9]:
# Defining a function to determine whether a number is odd or even
def find_even_odd(x):
    """
    If the remainder after dividing by 2 is 0, then the number is even.
    otherwise, the number is odd
    """
    if x%2 == 0:
        print("Even")
    else:
        print("Odd")

In [7]:
find_even_odd(45)

Odd

In [8]:
find_even_odd(234238)

Even

### VARIABLES

**Python variables don't have a pre-defined type.**

* They are not statically typed i.e we don't have to declare a type before using. 
* Any value can be assigned to a given variable.

In [15]:
## In the below example we first assign an int value to ex_var. But then we are assigning a string to ex_var.
## This works fine and doesn't throw a type error

ex_var = 2
print(ex_var)

ex_var = 'Hello'
print(ex_var)

2
Hello

### Variable Assignment

*When an already defined variable is assigned to another variable, both variables would be referencing the same object. 
This can be observed with an example of list below. 
First, we define a list 'a' then assign this to a new variable 'b'. Now when we add a new value to list 'a', this new value would be reflected in b as well.*

In [11]:
a = [1,2,3]
a

[1, 2, 3]

In [12]:
b = a
b

[1, 2, 3]

In [13]:
b.append(10)
print(a)
print(b)

[1, 2, 3, 10]
[1, 2, 3, 10]

*If we would like to retain the original list as is, it is advisable to assign a copy to a new variable. This way any changes to one list would not be reflected in another list*

In [14]:
c = a.copy()
c.append(50)
print(a)
print(c)

[1, 2, 3, 10]
[1, 2, 3, 10, 50]

### Identifying Variable Type

In [17]:
int1 = 5
type(int1)

int

In [18]:
str1 = "test"
type(str1)

str

In [19]:
isinstance(int1, int)

True

### Arithmetic Operations

In [20]:
x = 5
y = 2

print("x+y: ", x+y)
print("x-y: ", x-y)
print("x*y: ", x*y)
print("x/y: ", x/y)
print("x//y: ", x//y)
print("x%y: ", x%y)

x+y:  7
x-y:  3
x*y:  10
x/y:  2.5
x//y:  2
x%y:  1

In [18]:
int1 = int1 + 1
int1

6

In [19]:
# better approach
int1 += 1
int1

7

In [20]:
int2 = 10
int1 == int2

False

In [21]:
int1 != int2 # < > !< !>

True

### Strings

In [24]:
greeting = "Welcome"
greeting

'Welcome'

In [25]:
greeting = "Welcome to today's class"

In [26]:
greeting = 'Welcome to today's class'

SyntaxError: unterminated string literal (detected at line 1) (717276991.py, line 1)

In [28]:
greeting = "Welcome to today's class"
greeting

"Welcome to today's class"

In [30]:
new_greeting = greeting.replace('class', 'lecture')
print(greeting)
print(new_greeting)

Welcome to today's class
Welcome to today's lecture

#### Casting string to int

In [ ]:
str1 = '20'
str2 = '23'

str1+str2

In [ ]:
num1 = int(str1)
num2 = int(str2)

num1 + num2