### Modifying Lists

In [1]:
employees = ['John', 'Amy', 'Mike', 'Ron', 'Katie', 'Alice', 'Hanna', 'Jordan', 'Andy', 'Sam']
employees

['John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam']

#### Modifying and adding new elements

In [34]:
# To change the value of an existing list element, access the element
# by the index and assign the new value

employees[5] = 'John Doe'
employees

['Sam',
 'Mike',
 'Andy',
 'Katie',
 'Hanna',
 'John Doe',
 'Joseph',
 'Jordan',
 'Claire',
 'Brandon']

In [2]:
# append - add an item to the list
employees.append('Noah')
employees

['John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah']

In [3]:
# insert - add an item to the list at a specific location
employees.insert(0, 'Claire')
employees

['Claire',
 'John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah']

In [8]:
## When we have multiple values to add 
new_employees = ['Joseph', 'Brandon', 'Katie']
                 
# If we use insert - need to specify a particular location where the new elements should be inserted
employees.insert(0, new_employees)             

employees

[['Joseph', 'Brandon', 'Katie'],
 'Claire',
 'John',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam']

In [ ]:
## But with insert, the new list is just added as a list. Most often, the 
# requirement would be to add individuals elements of the list as a new
# entry. extend mehtod helps t achieve this

In [9]:
employees.extend(new_employees)
employees

[['Joseph', 'Brandon', 'Katie'],
 'Claire',
 'John',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Joseph',
 'Brandon',
 'Katie']

'insert' is computationally expensive compared with append, 
because references to subsequent elements have to be shifted 
internally to make room for the new element. If you need to insert
elements at both the beginning and end of a sequence, you may wish
to explore collections.deque, a double-ended queue, which is 
optimized for this purpose and found in the Python Standard Library.

#### Removing elements

In [10]:
# pop - delete the last element in the list - Last In First Out (LIFO)
# pop returns the elemnt(s) removed
employees.pop()

'Katie'

In [11]:
# pop - to remove an element from a particular location, pass the index value
employees.pop(2)

'John'

In [12]:
employees.pop(0)

['Joseph', 'Brandon', 'Katie']

In [13]:
# 'remove' - removes an element by value
# If there are duplicate entries, first such value is located and removed from the lis
# 'remove' - doesn't return the element that is removed from the list
employees.remove('Ron')

In [14]:
employees

['Claire',
 'Mike',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Joseph',
 'Brandon']

#### Re-ordering and Sorting Lists

In [16]:
employees.reverse()
employees

['Brandon',
 'Joseph',
 'Sam',
 'Andy',
 'Jordan',
 'Hanna',
 'Alice',
 'Katie',
 'Mike',
 'Claire']

In [17]:
# 'sort()' --> sorts in ascending order either alphabetically or numerically
employees.sort()
employees

['Alice',
 'Andy',
 'Brandon',
 'Claire',
 'Hanna',
 'Jordan',
 'Joseph',
 'Katie',
 'Mike',
 'Sam']

In [18]:
## numbers sorted in ascending order
num_list = [34, 6, 2, 90, 3]
num_list.sort()
num_list

[2, 3, 6, 34, 90]

In [19]:
## to sort in descending --> could use sort then use reverse but better way is to use reverse=True flag
employees.sort(reverse=True)
num_list.sort(reverse=True)

print(employees)
print(num_list)

['Sam', 'Mike', 'Katie', 'Joseph', 'Jordan', 'Hanna', 'Claire', 'Brandon', 'Andy', 'Alice']
[90, 34, 6, 3, 2]

In [20]:
## 'sort()' --> sorts the original list in place
## If we don't want to modify the original list, we can 'sorted' method which returns a new sorted list
srtd_emps = sorted(employees)

print(employees)
print(srtd_emps)

['Sam', 'Mike', 'Katie', 'Joseph', 'Jordan', 'Hanna', 'Claire', 'Brandon', 'Andy', 'Alice']
['Alice', 'Andy', 'Brandon', 'Claire', 'Hanna', 'Jordan', 'Joseph', 'Katie', 'Mike', 'Sam']

In [21]:
## can sort using a sort key - based on a function
# for example, we might sort employees based on the length of their names

employees.sort(key=len)
employees

['Sam',
 'Mike',
 'Andy',
 'Katie',
 'Hanna',
 'Alice',
 'Joseph',
 'Jordan',
 'Claire',
 'Brandon']

In [22]:
# If we have some negative numbers to sort
neg_nums = [-6, -5, -4, 1, 2, 3]
# sorted in ascending order by default
print(sorted(neg_nums))

[-6, -5, -4, 1, 2, 3]

In [23]:
## We could sort by absolute values
print(sorted(neg_nums, key=abs))

[1, 2, 3, -4, -5, -6]

#### Finding the min, max, sum of list elements

In [24]:
print(min(num_list))
print(max(num_list))
print(sum(num_list))

2
90
135

#### Finding the index of an element

In [25]:
employees.index('Claire')

8

In [27]:
# value error if element doesn't exist
employees.index('Tom')

ValueError: 'Tom' is not in list

#### Using the 'in' operator

In [28]:
## Check whether a value is there in the list or not
'Matt' in employees

False

In [30]:
'Alice' in employees

True

#### List to String

In [31]:
# 'join' - We can join the elements of the list together with a ',' to concatenate
# all the list elements to form a string

employees_str = ', '.join(employees)
employees_str

'Sam, Mike, Andy, Katie, Hanna, Alice, Joseph, Jordan, Claire, Brandon'

In [32]:
# Can use any other character with join
employees_str = '-'.join(employees)
employees_str

'Sam-Mike-Andy-Katie-Hanna-Alice-Joseph-Jordan-Claire-Brandon'

#### String to List

In [33]:
# can split string chars into list elements by using a particualr split character
# Let's split the 'employees_str' on '-'

emp_list_from_str = employees_str.split('-')
emp_list_from_str

['Sam',
 'Mike',
 'Andy',
 'Katie',
 'Hanna',
 'Alice',
 'Joseph',
 'Jordan',
 'Claire',
 'Brandon']

## TUPLES

* sequence of values similar to lists but immutable
* Immutable --> Once a tuple is created, new values cannot be added

In [35]:
tup1 = ('Japan', 'Brazil', 'Spain', 'Kenya', 'Australia')
tup1

('Japan', 'Brazil', 'Spain', 'Kenya', 'Australia')

In [37]:
# If we try to change the value of an existing element, we get type error
tup1[3] = 'Italy'
tup1

TypeError: 'tuple' object does not support item assignment

In [38]:
## Few tuple methods
tup1.count('Japan')

1

In [39]:
tup1.index('Spain')

2

In [40]:
# convert any sequence to tuple
str_tuple = tuple('string')
str_tuple

('s', 't', 'r', 'i', 'n', 'g')

In [41]:
# Accessing tuple elements
tup1[2]

'Spain'

While the tuples themselves may not be modified, but the objects inside the tuple can be modified if they are mutable
But once the tuple is created it’s not possible to modify which 
object is stored in each slot

In [42]:
tuple1 = tuple(['foo', [1, 2], True])

# Here, the second tuple element [1,2] is mutable so we can modify that element
tuple1[1].append(3)
tuple1

('foo', [1, 2, 3], True)

### Basic arithmetic operations on tuples

#### Concatenate tuples

In [44]:
(1, 'Math', False) + (25, 3.2) + ('C20',)

(1, 'Math', False, 25, 3.2, 'C20')

In [49]:
## Observe the ',' after 'C20' in the third tuple. When there is only a single element in
## the tuple, we need to include a ',' otherwise, it will be considered as string as shown below
## The same applies for lists too

(1, 'Math', False) + (25, 3.2) + ('C20')

TypeError: can only concatenate tuple (not "str") to tuple

#### Multiplying a tuple by an integer

In [47]:
('Hello ') * 3

'Hello Hello Hello '

In [48]:
## Works with lists too

['Hello ', ] * 3

['Hello ', 'Hello ', 'Hello ']

### Unpacking tuples

In [51]:
# Below technique is called unpacking. We can assign the tuple elements to separate variables as shown below
tuple1 = (10, 20, 30)
a,b,c = tuple1
print(a)
print(b)
print(c)

10
20
30

In [53]:
# Even sequences with nested tuples can be unpacked
tup = 1,2,(3,4)

print('tup: ', tup)
a,b,(c,d) = tup

print('c: ', c)

tup:  (1, 2, (3, 4))
c:  3

## SETS

* Unordered
* No duplicates

In [54]:
countries = {'Japan', 'Brazil', 'Spain', 'Kenya', 'Australia'}
countries

{'Australia', 'Brazil', 'Japan', 'Kenya', 'Spain'}

* Unlike lists or tuples, sets dont care about order so sometimes the order can change with each execution

* Since sets dont care about order so some of the common use cases for set is to test whether a value is part of the set and also to remove duplicates - this is called Membership Test
* Sets are optimized for membership tests
* Checking whether a list contains a value is a lot slower than doing  so with dictionaries and sets (to be introduced shortly), as Python makes a linear scan across the values of the list, whereas it can check the others (based on hash tables) in constant time

In [55]:
'Iran' in countries

False

* Another important note - sets help to determine either what values are shared or not shared

In [56]:
# Lets crate another set of countries
countries1 = {'Japan', 'Chile', 'Spain', 'Kenya', 'Iran', 'Japan'}
countries1

{'Chile', 'Iran', 'Japan', 'Kenya', 'Spain'}

In [57]:
# Getting the common elements from countries and countries1
countries.intersection(countries1)

{'Japan', 'Kenya', 'Spain'}

In [58]:
## Can also get common countries using '&' operator
countries & countries1

{'Japan', 'Kenya', 'Spain'}

In [59]:
# Elements in one set but not in other
countries.difference(countries1)

{'Australia', 'Brazil'}

In [60]:
# Could also get the difference using '-' operator
countries - countries1

{'Australia', 'Brazil'}

In [62]:
# Union of 2 sets - combine elements
countries.union(countries1)

{'Australia', 'Brazil', 'Chile', 'Iran', 'Japan', 'Kenya', 'Spain'}

In [65]:
# Note: '+' is not supported
countries + countries1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [66]:
# But binary operator '|' works for union
countries | countries1

{'Australia', 'Brazil', 'Chile', 'Iran', 'Japan', 'Kenya', 'Spain'}

In [ ]:
##################
# If you pass an input that is not a set to methods like union and intersection, Python will convert the input to a set before executing
# the operation. When using the binary operators, both objects must already be sets.
#################

### Supersets and subsets

In [67]:
set1 = {1,2,3}
set2 = {1,2,3,4,5}

In [68]:
set1.issubset(set2)

True

In [ ]:
set2.issuperset(set1)

### Creating empty list, tuple, set

In [69]:
# Creating empty lists
emp_list = []
emp_list = list()

# Creating empty tuples
emp_tuple = ()
emp_tuple = tuple()

# Creating empty sets
emp_set = {} ### this doesn't work coz creates an empty dictionary

### so will have to use set() class below
emp_set = set()

## NOTE: lists, tuples, sets can be passed to each of the constructors above

## DICTIONARIES

* helps us to work with key value pairs
* simialr to hash map
* akin to a physical dictionary

In [72]:
students = {'name': 'Josh', 'age': 24, 'courses': ['Physics', 'Math', 'Biology']}
students

{'name': 'Josh', 'age': 24, 'courses': ['Physics', 'Math', 'Biology']}

In [73]:
# access a value by key
students['age']

24

* Values of can be of any type
* Keys - currently string but can be any immutable data type.
    * Usually string, int

In [74]:
## access a key that doens't exist
students['phone']

KeyError: 'phone'

In [ ]:
#### But may be we don't want error when a key doesn't exist but instead reuturn None or defaut value --> use .get

In [ ]:
students.get('phone') # returns none

In [75]:
## Can also specify a default value to return when a key is not found
students.get('phone', 'Not Found')

'Not Found'

In [76]:
## Updates the value of an existing key
students['name'] ='Jamie'
students

{'name': 'Jamie', 'age': 24, 'courses': ['Physics', 'Math', 'Biology']}

In [77]:
## can also update using update method. Especially useful when we want to update multiple values at a time
students.update({'name': 'Aaron', 'age': 29, 'phone': '333-2492', 'city': 'New York'})
students

## The update method changes dictionaries in place, so any existing 
## keys in the data passed to update will have their old values 
## discarded.

{'name': 'Aaron',
 'age': 29,
 'courses': ['Physics', 'Math', 'Biology'],
 'phone': '333-2492',
 'city': 'New York'}

In [78]:
### Delete a specific key and its value
del students['age']

In [79]:
students

{'name': 'Aaron',
 'courses': ['Physics', 'Math', 'Biology'],
 'phone': '333-2492',
 'city': 'New York'}

In [80]:
## Could also remove using pop method akin to lists
# pop method deletes the key and corresponding value but returns the deleted value
phone = students.pop('phone')
print(phone)

333-2492

In [81]:
## len() --> to get the length of dictionary i.e # of keys present
len(students)

3

In [82]:
# List out all keys
## to see all keys
students.keys()

dict_keys(['name', 'courses', 'city'])

In [83]:
## to see all values
students.values()

dict_values(['Aaron', ['Physics', 'Math', 'Biology'], 'New York'])

In [84]:
## to get the list of key, value pairs
students.items()

dict_items([('name', 'Aaron'), ('courses', ['Physics', 'Math', 'Biology']), ('city', 'New York')])

In [85]:
# check if a dictionary contains a key using the same syntax used for 
# checking whether a list or tuple contains a value
'city' in students

True

In [86]:
## Sort the dictionary using sorted() method which returns a new dictioanry sorted by keys
sorted_students = sorted(students)
print(sorted_students) # sorts based on keys

['city', 'courses', 'name']

In [87]:
## Creating dict from tuples
stu_name = ('John', 'Amy', 'Aaron', 'Bill', 'Sam') ## Keys
stu_major = ('CS', 'ME', 'EE', 'Nursing', 'Business') ## Values

stu_tuple = zip(stu_name, stu_major)

stu_dict = dict(stu_tuple)

print(stu_dict)

{'John': 'CS', 'Amy': 'ME', 'Aaron': 'EE', 'Bill': 'Nursing', 'Sam': 'Business'}

In [88]:
## Creating dict from lists, works too
stu_name = ['John', 'Amy', 'Aaron', 'Bill', 'Sam'] ## keys
stu_major = ['CS', 'ME', 'EE', 'Nursing', 'Business'] ## values

stu_tuple = zip(stu_name, stu_major)

stu_dict = dict(stu_tuple)

print(stu_dict)

{'John': 'CS', 'Amy': 'ME', 'Aaron': 'EE', 'Bill': 'Nursing', 'Sam': 'Business'}

Since tuples are immutable, there are not as many methods as there are for lists because lot of list methods involve mutating 

## If you want something that you can modify --> use list
## If you have a collection items that are not going to change and hold some standard values (ex: states) --> use tuple