## Tuesday, Jan 24 2023

### Getting started 
#### 1. Show print world --> shift + enter
#### 2. Show print world --> option _ enter
#### Show inserting a new cell above 1st hello world
#### Show how to add these comments

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("Hello Again!")

Hello Again!

### Python Basics

#### use whitespaces(tabs or spaces) to structure code instead of braces
#### Explain the indentation in below code snippet
#### 4 spaces - default indentation

In [5]:
def find_even_odd(x):
    if x%2 == 0:
        print("Even")
    else:
        print("Odd")

In [6]:
find_even_odd(4)

Even

In [7]:
find_even_odd(5)

Odd

#### Python statements also do not need to be terminated by semicolons. 
#### Whitespace alone - makes it a very clean language to work with
#### Show the below example

#### Semicolons can be used, however, to separate multiple statements on a single line:
#### a = 5; b = 6; c = 7

In [8]:
num = 24597429857
find_even_odd(num)

Odd

#### An important characteristic of the Python language is the consistency of its object model.
#### Every number, string, data structure, function, class, module, and so on exists in the Python interpreter in 
#### its own “box,” which is referred to as a Python object. Each object has an associated type (e.g., integer, 
#### string, or function) and internal data. In practice this makes the language very flexible, as even functions 
#### can be treated like any other object.

### Comments

#### Single # is a single line comment
#### Best practice to place comments before the code not append at the end of the line

In [10]:
# This is a comment

### Variables and argument passing

In [15]:
a = [1,2,3]
a

[1, 2, 3]

In [16]:
## talk about assignment and equality operator
b = a
b

[1, 2, 3]

In [22]:
### Now a and b refering to the same object. Show . and tab here that lists all available functions
a.append(10)
b

[1, 2, 3, 10]

### Passing objects as arguments

#### Show how data list gets modified. New local variables are created referencing the original objects without 
#### any copying

In [100]:
def append_elem_list(test_list, elem):
    test_list.append(elem)

In [101]:
data = [1,2,3]
append_elem_list(data, 4)
data

[1, 2, 3, 4]

In [102]:
append_elem_list(data, 5)
data

[1, 2, 3, 4, 5]

#### Even if you refer to different variable, still changes original if we send the original object

In [107]:
def append_element_list_copy(test_list, elem):
    temp_list = test_list
    temp_list.append(elem)
    return temp_list

In [108]:
data1 = [10,20,30]
temp_list_ret1 = append_element_list_copy(data1, 40)
print(data1)
print(temp_list_ret1)

[10, 20, 30, 40]
[10, 20, 30, 40]

#### If you don't want original list to change, send a copy

In [170]:
data2 = [11,12,13]
temp_list_ret2 = append_element_list_copy(data2.copy(), 14)
print(data2)
print(temp_list_ret2)

[11, 12, 13]
[11, 12, 13, 14]

### Integers and Floats

In [ ]:
## Integer - whole num, float is a decimal

### Dynamic references, strong types

#### Variables in Python have no inherent type associated with them; a variable can refer to a different type of 
#### object simply by doing an assignment

In [110]:
## No problem with the following
a = 5
type(a)

int

In [111]:
a = "foo"
type(a)

str

In [ ]:
"5" + 5

#### You can check that an object is an instance of a particular type using the isinstance function

In [112]:
a = 5
isinstance(a, int)

True

#### isinstance can accept a tuple of types if you want to check that an object’s type is among those present in the tuple

In [114]:
a = 5; b = 4.5
isinstance(a, (int, float))

True

In [115]:
isinstance(b, (int, float))

True

#### Basic arithmetic - to work with numeric data

In [177]:
## for division to behave this way - new in python 3. In 2, drops the decimal
7/4

1.75

In [178]:
## floor division to drop the decimal
7 // 4

1

In [179]:
## exponent
7 ** 2

49

In [180]:
## modulo - remainder
7 % 4

3

In [181]:
## Order of operations

4*3+2

14

In [182]:
4*(3+2)

20

In [183]:
num = 2
num = num +1
num

3

In [185]:
num += 1
num

5

In [186]:
num *= 5
num

25

#### built-in functions

In [188]:
round(8.348)

8

In [190]:
round(8.348, 2)

8.35

#### comparisons

In [192]:
num1 = 4
num2 = 6

In [ ]:
num1 == num2

In [194]:
num1 != num2

True

In [195]:
num1 < num2
# similarly -- >, >=,<=

True

#### str to int

In [196]:
# say str look like numbers
num3 = '20'
num4 = '23'

num3+num4

'2023'

In [197]:
#casting
num3 = int(num3)
num4 = int(num4)
num3 + num4

43

### String

#### Representing textual data
#### Many people use Python for its built-in string handling capabilities

In [116]:
str1 = 'Hello'
str1

'Hello'

In [118]:
str2 = "World"
str2

'World'

In [145]:
multi_str = """first line second line 
third line"""

multi_str

'first line second line \nthird line'

In [138]:
multi_str.count("\n")

2

### Separate multi words in a variable name with underscores.
### Make the names as descriptive as possible
#### Anyone reading our code or even us later would have no confusion as to what it deals with

#### Single and double quotes

In [139]:
text_ex = 'Apple's Share'
text_ex

SyntaxError: unterminated string literal (detected at line 1) (380791931.py, line 1)

In [140]:
text_ex = "Apple's Share"
text_ex

"Apple's Share"

In [141]:
text_ex = 'Apple"s Share'
text_ex

'Apple"s Share'

In [143]:
text_ex = "Apple"s Share"
text_ex

SyntaxError: unterminated string literal (detected at line 1) (3080184761.py, line 1)

In [144]:
text_ex = "Apple's Share"
text_ex

"Apple's Share"

### Concatenate

In [130]:
a = 'first half'
b = ' second half'

a+b

'first half second half'

#### All of the data types that we are going to review will have lot of methods associated with them which help us to achieve different things. Give us access to methods with lot of useful functionality

#### methods -function that belongs to an object. But basically both same

### WEEK 4 -Tuesday, Jan 31 2023
### Replace a string

In [136]:
# Replace returns a replaced string
course_name = 'Data Analytics'
course_name = course_name.replace('Analytics', 'Science')
course_name

'Data Science'

In [139]:
# Replace returns a replaced string
course_name = 'Data Warehousing'
course_name = course_name.replace('Analytics', 'Science')
course_name

'Data Warehousing'

### lower, upper, count, find

In [168]:
course_name.upper()

'DATA WAREHOUSING'

In [148]:
course_name.count('Data')

1

In [153]:
course_name.count('e')

1

In [154]:
course_name.count('b')

0

In [151]:
# to find index
course_name.find('Warehousing')

5

In [152]:
# to find index
course_name.find('Ware')

5

In [162]:
course_name.find('World')

-1

### String Formatting

In [155]:
## f strings - makes formatting more simpler; lot easier than other methods such as format

course = 'programming'
enrollment = 12

## can actually write code in placeholder
class_details = f"There are {enrollment} students in {course} class" 

class_details

'There are 12 students in programming class'

#### Can perform calculations within f string

In [156]:
score = 534

ave_score = f'The average score for {enrollment} students in {course} class is {score/enrollment}'
ave_score

'The average score for 12 students in programming class is 44.5'

In [157]:
f'5 times 12 is {5*12}'

'5 times 12 is 60'

#### Can perform operations within f string

In [158]:
first_name = "Jane"
last_name = "Doe"

best_emp = f'The best employee is {first_name} {last_name}'
print(best_emp)

best_emp = f'The best employee is {first_name.lower()} {last_name.upper()}'
print(best_emp)

The best employee is Jane Doe
The best employee is jane DOE

#### Careful with ' and "

In [ ]:
#best_emp = f'The best employee's name is {first_name.lower()} {last_name.upper()}'
print(best_emp)

# best_emp = f"The best employe's name is {first_name.lower()} {last_name.upper()}"
# print(best_emp)

# best_emp = f'The best employe"s name is {first_name.lower()} {last_name.upper()}'
# print(best_emp)

#### f strings support number formatting

In [17]:
num_emp = 5
f'Number of employees are {num_emp}'

'Number of employees are 5'

In [19]:
f'Number of employees are {num_emp:02}'

'Number of employees are 05'

In [21]:
f'Number of employees are {num_emp:04}'

'Number of employees are 0005'

In [23]:
float_num = 23.23408375329
f'The given float value is {float_num}'

'The given float value is 23.23408375329'

In [24]:
f'The given float value is {float_num:.2f}'

'The given float value is 23.23'

In [25]:
f'The given float value is {float_num:.4f}'

'The given float value is 23.2341'

### dir and help - SHOW TOWARDS THE END OF BASIC PYTHON

In [166]:
#shows all the attributes and methods that we have access to with that attribute
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [167]:
### to get more info on each of these methods
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [168]:
### if you remember a method but doesn't know what it does
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

### Conditionals and Booleans
#### what statements get executed depending on what are the values ---> true or false --> booleans

#### Booleans - True and False
#### Logical operators and or

In [230]:
True and True

True

In [232]:
True and False

False

In [233]:
True or False

True

In [234]:
int(True)

1

In [237]:
int(False)

0

#### Perform arithmetic operations

In [236]:
True - True

0

In [239]:
True * False

0

In [229]:
True * True

1

#### Conditionals with booleans

In [198]:
if True:
    print('True condition')

True condition

In [199]:
# only gets executed if true
if False:
    print('True condition')

In [169]:
dept = 'cist'

## pay attention to == sign --> testing for equality
if dept == 'cist':
    print('True condition')

True condition

In [170]:
if dept is 'cist':
    print('cist')

cist

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/2q/js2tdw9164d_h2tr40zvrhj0_y74b9/T/ipykernel_16436/1339088702.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if dept is 'cist':

In [171]:
## to execute others if condition fails
if dept == 'cist':
    print('Dept is CIST')
else:
    print('Dept is not CIST')

Dept is CIST

In [204]:
## elifs for multiple possibilities

dept = 'Business'

if dept == 'cist':
    print('Dept is CIST')
elif dept == 'Business':
    print('Dept is Business')
else:
    print('Dept is not CIST')

Dept is Business

In [ ]:
### Python doesn't have a switch case similar to other languages coz if, elif get the job done
### Keep adding more elifs

if dept == 'cist':
    print('Dept is CIST')
elif dept == 'Business':
    print('Dept is Business')
elif dept == 'Nursing':
    print('Dept is Nursing')
else:
    print('Dept is not cist')

In [206]:
user = 'Admin'
logged_in = True

if user == 'Admin' and logged_in:
    print('Admin page')
else:
    print('Auth failed')

Admin page

In [209]:
## if only one or the other needs to be true
user = 'Admin'
logged_in = False

if user == 'Admin' or logged_in:
    print('Admin page')
else:
    print('Auth failed')

Admin page

### Not reverses the boolean result
#### The keyword not flips a Boolean value from True to False or vice versa

In [242]:
a = True
b = False

print(not a)
print(not b)

False
True

In [210]:
user = 'Admin'
logged_in = False

## here not logged in would evaluate to True
if not logged_in:
    print('Please login')
else:
    print('Welcome!')

Please login

### Object identity
* = --> assignment operator
* == --> checks for equality (same value, contents)
* 'is' --> checking if the variables are pointing to the same object are and have same ID or whether they are the same objects in memory

In [2]:
### 2 objects can be equal but not be the same object in memory
a = [1,2,3]
b = [1,2,3]

# a == b would return true coz same objects
a == b

True

In [3]:
# False coz 2 different objects in memory created when initialized
a is b

False

In [4]:
print(id(a))
print(id(b))

4362156992
4366544576

In [5]:
b = a
print(id(a))
print(id(b))
print(a is b)
# coz both are same objects in memory
# equality would also be same
print(a == b)

4362156992
4362156992
True
True

#### None

In [243]:
a = None
a is None

True

In [244]:
b = 5
b is not None

True

### So all the above conditionals based on what python evaluates to true or false
### So what does python evaluate to true or false?

In [217]:
condition = False

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [218]:
condition = None

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [219]:
condition = 0

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [221]:
# so 0 to false and any other number true
condition = 10

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is True

In [222]:
# any empty sequence would evaluate to false
condition = []

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [223]:
condition = ''

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [225]:
condition = {}

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is False

In [226]:
### The above important in some functions when you want to do some operations based on if 
### some particualr list or sequence is empty or not
### Ex: if there are any students who failed in the class, need to take some action
### Say a function is supposed to return some value. Don't have to call any particular method,
### just need to boolean check that sequence

In [ ]:
### So everything else should evaluate to True

In [227]:
condition = 'test'

if condition:
    print('Result is True')
else:
    print('Result is False')

Result is True

In [159]:
### Have an idea of what evaluates to true and what to false ###

## Built-in Data Structures
### Tuples, lists, dictionaries, sets

#### Help you to work with sequential data. Set - unordered collection of unique items

## LISTS

* Variable length 
* Contents can be modified in place
* Mutable

In [161]:
employees = ['John', 'Amy', 'Mike', 'Ron', 'Katie', 'Alice', 'Hanna', 'Jordan', 'Andy', 'Sam']
employees

['John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam']

In [264]:
len(employees)

10

In [265]:
## access individual values based on location/index
employees[4]

'Katie'

In [266]:
employees[0]

'John'

In [267]:
# convenient to access using last index coz then don't have to worry about len of list 
# even if additions or deletions
employees[-1]

'Sam'

In [268]:
employees[10]

IndexError: list index out of range

### Slicing
* to access/extract certain elements of a string or list
* extremely useful for 
    * stripping out certain values from lists
    * getting a substring of a characters from a string

In [269]:
# range of values
employees[0:2]

['John', 'Amy']

In [270]:
employees[-4:-2]

['Hanna', 'Jordan']

In [271]:
employees[:2]

['John', 'Amy']

In [162]:
# to get until the last element - either get the len, then +1
## sya you want to get till Alice so give end as 6
employees[2:6]

['Mike', 'Ron', 'Katie', 'Alice']

In [273]:
# or just leave ending index empty so don't have to worry about length
employees[2:]

['Mike', 'Ron', 'Katie', 'Alice', 'Hanna', 'Jordan', 'Andy', 'Sam']

In [274]:
# from beginning as well
employees[:3]

['John', 'Amy', 'Mike']

In [163]:
# step allows to skip a certain number of values
# default step is 1 so same is not even specifying a step
## L[start:stop:step]
employees[2:-1:2]

['Mike', 'Katie', 'Hanna', 'Andy']

In [ ]:
# negative step - does in reverse

In [280]:
employees[-1:2:-1]

['Sam', 'Andy', 'Jordan', 'Hanna', 'Alice', 'Katie', 'Ron']

In [281]:
employees[-1:2:-2]

['Sam', 'Jordan', 'Alice', 'Ron']

In [164]:
# entire list in reverse
employees[::-1]

['Sam',
 'Andy',
 'Jordan',
 'Hanna',
 'Alice',
 'Katie',
 'Ron',
 'Mike',
 'Amy',
 'John']

In [165]:
# Empty coz doesn't have anywhere to go beyond 3rd element coz its index is the starting point
employees[2:-1:-1]

[]

### Slicing strings

In [172]:
url_ex = 'https://www.pitt.edu'
url_ex

'https://www.pitt.edu'

In [173]:
url_ex.find('w')

8

In [287]:
url_ex[-4:]

.edu

In [290]:
# print url without https
url_ex[8:]

'www.pitt.edu'

In [292]:
url_ex.find('.p')

11

In [294]:
url_ex[12:-4]

'pitt'

In [36]:
course_name = 'Data Analytics'
len(course_name)

14

In [37]:
course_name[10]

't'

In [38]:
course_name[15]

IndexError: string index out of range

In [39]:
# 1st index is inclusive where as the second one is not
course_name[0:5]

'Data '

In [40]:
course_name[:5]

'Data '

In [41]:
course_name[5:]

'Analytics'

### Modifying Lists

In [295]:
#### append - add an item to the list
employees.append('Noah')
employees

['John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah']

In [300]:
### append to specific location
employees.insert(0, 'Claire')
# With insert, append - gets added multiple times for each execution

In [301]:
employees

['Claire',
 'Claire',
 'Claire',
 'Claire',
 'Claire',
 'John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah']

In [166]:
# pop returns the element that is removed
employees.pop(0)

'John'

In [167]:
employees

['Amy', 'Mike', 'Ron', 'Katie', 'Alice', 'Hanna', 'Jordan', 'Andy', 'Sam']

In [307]:
### when we have multiple values to add
new_employees = ['Amanda', 'Joseph', 'Brandon', 'Katie']

# if we use insert - added as a list
employees.insert(0, new_employees)
employees

[['Amanda', 'Joseph', 'Brandon', 'Katie'],
 'Claire',
 'John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah']

############
#### insert is computationally expensive compared with append, 
#### because references to subsequent elements have to be shifted 
#### internally to make room for the new element. If you need to insert
#### elements at both the beginning and end of a sequence, you may wish
#### to explore collections.deque, a double-ended queue, which is 
#### optimized for this purpose and found in the Python Standard Library.
############

In [308]:
## added the entire list but not the individual values.  
## Can have list inside a list but not what we wanted
employees[0]

['Amanda', 'Joseph', 'Brandon', 'Katie']

In [309]:
# So use extend method
employees.extend(new_employees)

In [310]:
employees # can see added to the end

[['Amanda', 'Joseph', 'Brandon', 'Katie'],
 'Claire',
 'John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah',
 'Amanda',
 'Joseph',
 'Brandon',
 'Katie']

In [311]:
employees.pop(0)

['Amanda', 'Joseph', 'Brandon', 'Katie']

In [312]:
employees

['Claire',
 'John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah',
 'Amanda',
 'Joseph',
 'Brandon',
 'Katie']

In [313]:
employees.append(new_employees)

In [314]:
employees

['Claire',
 'John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah',
 'Amanda',
 'Joseph',
 'Brandon',
 'Katie',
 ['Amanda', 'Joseph', 'Brandon', 'Katie']]

In [315]:
employees.pop(-1)

['Amanda', 'Joseph', 'Brandon', 'Katie']

In [316]:
employees

['Claire',
 'John',
 'Amy',
 'Mike',
 'Ron',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah',
 'Amanda',
 'Joseph',
 'Brandon',
 'Katie']

In [319]:
employees.pop(4)

'Katie'

In [320]:
employees

['Claire',
 'John',
 'Amy',
 'Mike',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah',
 'Amanda',
 'Joseph',
 'Brandon',
 'Katie']

In [321]:
employees.pop(4)

'Alice'

In [317]:
# Elements can be removed by value with remove, which locates the first
# such value and removes it from the list
employees.remove('Ron')

In [318]:
employees

['Claire',
 'John',
 'Amy',
 'Mike',
 'Katie',
 'Alice',
 'Hanna',
 'Jordan',
 'Andy',
 'Sam',
 'Noah',
 'Amanda',
 'Joseph',
 'Brandon',
 'Katie']

In [ ]:
## Pop returns the value - so can use it with stacks and queues to 
## remove elements until it is empty

### Sorting Lists

In [324]:
employees.reverse()
employees

['Katie',
 'Brandon',
 'Joseph',
 'Amanda',
 'Noah',
 'Sam',
 'Andy',
 'Jordan',
 'Hanna',
 'Mike',
 'Amy',
 'John',
 'Claire']

In [325]:
employees.sort()
employees

['Amanda',
 'Amy',
 'Andy',
 'Brandon',
 'Claire',
 'Hanna',
 'John',
 'Jordan',
 'Joseph',
 'Katie',
 'Mike',
 'Noah',
 'Sam']

In [326]:
## numbers sorted in ascending order
num_list = [34, 6, 2, 90, 3]
num_list.sort()
num_list

[2, 3, 6, 34, 90]

In [328]:
## to sort in descending --> could use sort then use reverse but better way below
employees.sort(reverse=True)
num_list.sort(reverse=True)

print(employees)
print(num_list)

['Sam', 'Noah', 'Mike', 'Katie', 'Joseph', 'Jordan', 'John', 'Hanna', 'Claire', 'Brandon', 'Andy', 'Amy', 'Amanda']
[90, 34, 6, 3, 2]

In [329]:
## Sorting the original lis - to avoid that, can use sorted method
sorted(employees)
employees

['Sam',
 'Noah',
 'Mike',
 'Katie',
 'Joseph',
 'Jordan',
 'John',
 'Hanna',
 'Claire',
 'Brandon',
 'Andy',
 'Amy',
 'Amanda']

In [330]:
emp_sorted = sorted(employees)
print(emp_sorted)

['Amanda', 'Amy', 'Andy', 'Brandon', 'Claire', 'Hanna', 'John', 'Jordan', 'Joseph', 'Katie', 'Mike', 'Noah', 'Sam']

In [446]:
# can sort using a sort key - based on a function
employees.sort(key=len)
employees

['Sam',
 'Amy',
 'Noah',
 'Mike',
 'John',
 'Andy',
 'Katie',
 'Hanna',
 'Joseph',
 'Jordan',
 'Claire',
 'Amanda',
 'Brandon']

In [122]:
## sort - in-place, sorted - returns a new

In [126]:
neg_nums = [-6, -5, -4, 1, 2, 3]
print(sorted(neg_nums)) # ascending by default

[-6, -5, -4, 1, 2, 3]

In [127]:
## But what to sort abs
print(sorted(neg_nums, key=abs))

[1, 2, 3, -4, -5, -6]

### Min, max, sum

In [331]:
min(num_list)

2

In [332]:
max(num_list)

90

In [333]:
sum(num_list)

135

### Find index of a value

In [334]:
#find or index
employees.index('Claire')

8

In [335]:
# value error if idx doesn't exist
employees.index(13)

ValueError: 13 is not in list

In [336]:
## Check whether a value is there in the list or not
'Matt' in employees

False

In [337]:
'Amy' in employees

True

## List to string

In [338]:
employees_str = ', '.join(employees)
employees_str

'Sam, Noah, Mike, Katie, Joseph, Jordan, John, Hanna, Claire, Brandon, Andy, Amy, Amanda'

In [339]:
employees_str = '-'.join(employees)
employees_str

'Sam-Noah-Mike-Katie-Joseph-Jordan-John-Hanna-Claire-Brandon-Andy-Amy-Amanda'

## String to list

In [340]:
emp_list_from_str = employees_str.split('-')
emp_list_from_str

['Sam',
 'Noah',
 'Mike',
 'Katie',
 'Joseph',
 'Jordan',
 'John',
 'Hanna',
 'Claire',
 'Brandon',
 'Andy',
 'Amy',
 'Amanda']

In [ ]:
### NOT SURE - LET THEM STUDY? ### START

In [445]:
# Concatenating and combining lists
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

## TUPLES
#### lists - mutable, tuples - immutable, can't be modified
#### fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed

In [341]:
list1 = ['Japan', 'Brazil', 'Spain', 'Kenya', 'Australia']
list2 = list1
print(list1)
print(list2)

['Japan', 'Brazil', 'Spain', 'Kenya', 'Australia']
['Japan', 'Brazil', 'Spain', 'Kenya', 'Australia']

In [342]:
list1[0] = 'Italy'
print(list1)
print(list2)

['Italy', 'Brazil', 'Spain', 'Kenya', 'Australia']
['Italy', 'Brazil', 'Spain', 'Kenya', 'Australia']

In [436]:
## Both changed - if yo know that you are dealing with a list of values
## that are not going to change, then can use tuple
tuple1 = ('Japan', 'Brazil', 'Spain', 'Kenya', 'Australia')
tuple2 = tuple1
print(tuple1)
print(tuple2)

('Japan', 'Brazil', 'Spain', 'Kenya', 'Australia')
('Japan', 'Brazil', 'Spain', 'Kenya', 'Australia')

In [437]:
tuple1[0] = 'Italy'
print(tuple1)
print(tuple2)

TypeError: 'tuple' object does not support item assignment

In [438]:
## error coz tuple immutable and coz of this doesn't have as many 
## methods as a list coz lot of methods of list involved mutating 
## the object
#### If you want something that you can. modify --> use list
#### If something that you know not gonna change --> use tuple

In [439]:
tuple1.count('Japan')

1

In [441]:
tuple1.index('Spain')

2

In [ ]:
tuple1.count('Japan')

In [413]:
# convert any sequence to tuple
str_tuple = tuple('string')
str_tuple

('s', 't', 'r', 'i', 'n', 'g')

In [414]:
## nested tuples
nested_tuple = (1,2,3), (4,5)
nested_tuple

((1, 2, 3), (4, 5))

In [415]:
print(nested_tuple[0])
print(nested_tuple[1])

(1, 2, 3)
(4, 5)

In [ ]:
### While the tuples themselves may not be modified, 
## but the objects inside the tuple can be modified if they are mutable
## But once the tuple is created it’s not possible to modify which 
## object is stored in each slot

In [418]:
tuple1 = tuple(['foo', [1, 2], True])
tuple1[2] = False
tuple1

TypeError: 'tuple' object does not support item assignment

In [419]:
tuple1[1].append(3)
tuple1

('foo', [1, 2, 3], True)

In [ ]:
### NOT SURE - LET THEM STUDY? ### START

In [421]:
## Concatenate tuples
(1, 'Math', False) + (25, 3.2) + ('C20')

TypeError: can only concatenate tuple (not "str") to tuple

In [422]:
## Concatenate tuples
(1, 'Math', False) + (25, 3.2) + ('C20',)

(1, 'Math', False, 25, 3.2, 'C20')

In [ ]:
# Multiplying a tuple by an integer, as with lists, has the effect of
# concatenating that many copies of the tuple

In [423]:
('Hello') * 3

'HelloHelloHello'

In [425]:
('Hello',) * 3

('Hello', 'Hello', 'Hello')

In [ ]:
# Note that the objects themselves are not copied, only the references 
# to them.

In [426]:
msg = 'Hi '
id(msg)

4371106160

In [427]:
msg_mult = msg*2
id(msg_mult)

4371109936

In [428]:
msg_tup = ('Hi', )
id(msg_tup)

4358074864

In [429]:
msg_tup_mult = msg_tup * 3
id(msg_tup_mult)

4371992768

In [ ]:
## Unpacking tuples

In [430]:
## If you try to assign to a tuple-like expression of variables, 
## Python will attempt to unpack the value on the righthand side of 
## the equals sign

tuple1 = (10, 20, 30)
a,b,c = tuple1
c

30

In [431]:
# Even sequences with nested tuples can be unpacked
tup = 1,2,(3,4)
a,b,(c,d) = tup
c

3

In [ ]:
## Swap variables

In [432]:
a, b = 1,2
print(a)
print(b)

1
2

In [433]:
b, a = a, b
print(a)
print(b)

2
1

In [ ]:
### NOT SURE - LET THEM STUDY? ### END

## SETS
#### unordered, no duplicates

In [360]:
countries = {'Japan', 'Brazil', 'Spain', 'Kenya', 'Australia'}
countries

{'Australia', 'Brazil', 'Japan', 'Kenya', 'Spain'}

In [365]:
countries

{'Australia', 'Brazil', 'Japan', 'Kenya', 'Spain'}

In [ ]:
## unlike lists or tuples, sets dont care about order so sometimes the
## order can change with each execution

## sets dont care about order so some of the common use cases for set
## is to test whether a value is part of the set and also to remove 
## duplicates

In [367]:
countries = {'Japan', 'Brazil', 'Spain', 'Kenya', 'Australia', 'Japan'}
countries

{'Australia', 'Brazil', 'Japan', 'Kenya', 'Spain'}

In [368]:
## membership test - to test whether a value is part of the set or not
## sets do this lot more efficiently that list or tuple - sets optimized
## for this


#########
# Checking whether a list contains a value is a lot slower than doing 
# so with dictionaries and sets (to be introduced shortly), as Python 
# makes a linear scan across the values of the list, whereas it can 
# check the others (based on hash tables) in constant time.
#########

In [369]:
'Iran' in countries

False

In [ ]:
## Another important thing - sets help to determine either what values
## are shared and not shared

In [370]:
countries1 = {'Japan', 'Chile', 'Spain', 'Kenya', 'Iran', 'Japan'}
countries1

{'Chile', 'Iran', 'Japan', 'Kenya', 'Spain'}

In [371]:
countries.intersection(countries1)

{'Japan', 'Kenya', 'Spain'}

In [450]:
countries & countries1

{'Japan', 'Kenya', 'Spain'}

In [373]:
# in countries but not in countries1
countries.difference(countries1)

{'Australia', 'Brazil'}

In [451]:
countries - countries1

{'Australia', 'Brazil'}

In [ ]:
##################
# If you pass an input that is not a set to methods like union and 
# intersection, Python will convert the input to a set before executing
# the operation. When using the binary operators, both objects must 
# already be sets.
#################

In [374]:
# combine
countries.union(countries1)

## much more performant than lists or tuples

{'Australia', 'Brazil', 'Chile', 'Iran', 'Japan', 'Kenya', 'Spain'}

In [449]:
# can use binary operator | for union
countries | countries1

{'Australia', 'Brazil', 'Chile', 'Iran', 'Japan', 'Kenya', 'Spain'}

In [ ]:
### Creating empty list, tuple, set
emp_list = []
emp_list = list()

emp_tuple = ()
emp_tuple = tuple()

emp_set = {} ### this doesn't work coz creates an empty dictionary

            ### so will have to use set() class below
emp_set = set()

In [444]:
### NOT SURE - LET THEM STUDY? ### END

In [443]:
## tuple can be passed to a list
tuple1 = (4, 5, 6)
list1 = list(tuple1)
list1

[4, 5, 6]

In [448]:
## list can be passed to a set
set1 = set([23,5,26,4, 2,4, 23, 60])
set1

{2, 4, 5, 23, 26, 60}

In [ ]:
### Check subset or superset

In [458]:
b_set = {}
type(b_set)

dict

In [457]:
a_set = {1, 2, 3, 4, 5}
type(a_set)

set

In [455]:
set1 = {1,2,3}
set2 = {1,2,3,4,5}

In [459]:
set1.issubset(set2)

True

In [460]:
set2.issuperset(set1)

True

In [461]:
### set equality
# 2 sets equal if and onlyif their contents are equal
set1 == set2

False

In [462]:
set3 = {1,2,3}
set1 == set3

True

## DICTIONARIES

#### helps us to work with key value pairs - simialr to hash map; akin to a physical dictionary

In [99]:
students = {'name': 'Josh', 'age': 24, 'courses': ['Physics', 'Math', 'Biology']}
students

{'name': 'Josh', 'age': 24, 'courses': ['Physics', 'Math', 'Biology']}

In [100]:
# access one element
students['age']

24

In [101]:
students['courses']

['Physics', 'Math', 'Biology']

In [102]:
## values of can be of any type
## keys - currently string but can be any immutable data type.
## Usually string, int

In [103]:
## just to show -- change 'name' to 1 and print the key and then 
## change back to 'name'

In [104]:
## access a key that doens't exist
students['phone']

KeyError: 'phone'

In [105]:
# but may be we don't want error everytime but instead 
## None or defaut value --> use .get

In [106]:
students.get('name')

'Josh'

In [107]:
students.get('phone') # returns none

In [108]:
# can also specify a default value
students.get('phone', 'Not Found')

'Not Found'

In [109]:
## Adding a new value to the dictioanry
students['phone'] ='333-3333'
students.get('phone', 'Not Found')

'333-3333'

In [110]:
##If the key already exists, updates the value of the key
students['name'] ='Jamie'
students

{'name': 'Jamie',
 'age': 24,
 'courses': ['Physics', 'Math', 'Biology'],
 'phone': '333-3333'}

In [111]:
## can also update using update method. Especially useful when we want
## to update multiple values at a time
students.update({'name': 'Aaron', 'age': 29, 'phone': '333-2492', 'city': 'New York'})
students

## The update method changes dictionaries in place, so any existing 
## keys in the data passed to update will have their old values 
## discarded.

{'name': 'Aaron',
 'age': 29,
 'courses': ['Physics', 'Math', 'Biology'],
 'phone': '333-2492',
 'city': 'New York'}

In [112]:
### Delete a specific key and its value
del students['age']

In [113]:
students

{'name': 'Aaron',
 'courses': ['Physics', 'Math', 'Biology'],
 'phone': '333-2492',
 'city': 'New York'}

In [114]:
## Could also remove using pop method akin to lists
# pop method (which simultaneously returns the value and deletes the key
phone = students.pop('phone')

In [115]:
# can print the value removed
print(students)
print(phone)

{'name': 'Aaron', 'courses': ['Physics', 'Math', 'Biology'], 'city': 'New York'}
333-2492

In [116]:
## to see how many keys exist
len(students)

3

In [117]:
## to see all keys
students.keys()

dict_keys(['name', 'courses', 'city'])

In [118]:
students.values()

dict_values(['Aaron', ['Physics', 'Math', 'Biology'], 'New York'])

In [119]:
students.items()

dict_items([('name', 'Aaron'), ('courses', ['Physics', 'Math', 'Biology']), ('city', 'New York')])

In [120]:
# check if a dictionary contains a key using the same syntax used for 
# checking whether a list or tuple contains a value
'city' in students

True

In [128]:
sorted_students = sorted(students)
print(sorted_students) # just sorts the keys

['city', 'courses', 'name']

In [133]:
## Creating dict from tuples
stu_name = ('John', 'Amy', 'Aaron', 'Bill', 'Sam')
stu_major = ('CS', 'ME', 'EE', 'Nursing', 'Business')

stu_tuple = zip(stu_name, stu_major)

stu_dict = dict(stu_tuple)

print(stu_dict)

{'John': 'CS', 'Amy': 'ME', 'Aaron': 'EE', 'Bill': 'Nursing', 'Sam': 'Business'}

In [134]:
## Creating dict from lists, works too
stu_name = ['John', 'Amy', 'Aaron', 'Bill', 'Sam']
stu_major = ['CS', 'ME', 'EE', 'Nursing', 'Business']

stu_tuple = zip(stu_name, stu_major)

stu_dict = dict(stu_tuple)

print(stu_dict)

{'John': 'CS', 'Amy': 'ME', 'Aaron': 'EE', 'Bill': 'Nursing', 'Sam': 'Business'}

## LOOPING

### For Loops
* Iterate a certain number of times

In [49]:
nums = [2,5,7,9]

In [28]:
for num in nums:
    print(num)

2
5
7
9

#### break - to terminate loop execution

In [34]:
for num in nums:
    if num == 7:
        print(f'Found {num}')
        break
    print(num)

2
5
Found 7

#### continue - to ignore a value and continue with next execution

In [33]:
for num in nums:
    if num == 7:
        print(f'Found {num}')
        continue
    print(num)

2
5
Found 7
9

### Looping through Strings

In [277]:
str = 'Hello'

# Simialr to lists - can access each element
for char in str:
    print(char)

H
e
l
l
o

In [278]:
# Can perform operations while iterating
for char in str:
    print(char.capitalize()) # print(char.upper()) --

H
E
L
L
O

### Nested Loops

In [279]:
for num in nums:
    for letter in 'xyz':
        print(num, letter)

1 x
1 y
1 z
2 x
2 y
2 z
3 x
3 y
3 z
4 x
4 y
4 z
5 x
5 y
5 z
6 x
6 y
6 z
7 x
7 y
7 z
8 x
8 y
8 z
9 x
9 y
9 z
10 x
10 y
10 z

* Gives every combination 
* Need to be careful as the combinations can grow pretty fast

### range()
* To execute a loop a fixed number of times

In [280]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

* i starts from 0 and goes till 9 --> 10 values starting from 0 index

In [282]:
#### If we want to start from 1 instead and consider 10 values
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [283]:
## let's say sometimes we don't know before hand what list we are working 
# with but just know that we are going to get a list with certain elements
# In such cases, use range and len as below.

#### Explain with an example of printing address cards for as many number of employees.
### You don't need to iterate through actual employee objects just need to know how many times

## common use of range is for iterating through sequences by index
num_list = [1,2,3,4]

for idx in range(len(num_list)):
    print(num_list[idx] * 2)

2
4
6
8

### While Loops
* Executed until a certain condition is met or until we encounter a break

In [284]:
x = 0
while x < 10:
    # stop till here and show what's wrong
    print(x)
    x += 1
    
## What's wrong with above? Will get executed indefinitely coz x = 0
# is always < 10. So to break or end the loop, need to increment it by 1

0
1
2
3
4
5
6
7
8
9

In [63]:
## At any point we can break the loop by including a condition
x = 0
while x < 10:
    if x == 5:
        break
    print(x)
    x += 1

0
1
2
3
4

In [69]:
### Can have a loop going on forever until we encounter a value that we are looking for

### May be you want to keep checking for a DB connection -- until its available, you will keep checking for it

x = 0

while True:
    if x == 5:
        break
    print(x)
    x += 1
    
## In most environments and terminals, can break a loop by ctrl + c
## or cmnd + c

0
1
2
3
4

In [289]:
emp_dict = ['John', 'Amy', 'Ryan']

for idx, name in enumerate(emp_dict):
    print(idx, name)

0 John
1 Amy
2 Ryan

## LIST COMPREHENSIONS
* Easier and more readable way to create a list

In [ ]:
## Let's first see for loops and then will see list comprehensions 
# how easy they are to use, read, and write

In [72]:
# Let's say we want to create the below list
nums = [1,2,3,4,5,6,7,8,9,10]

# So first we start by creating an empty list
num_list = []
for n in nums:
    num_list.append(n)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
## Now let's see with comprehensions
num_list = [n for n in nums]
print(num_list)

## Very easy to write and understand -  like reading a sentence

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
## Let's get n^2 for each n in num

## Usual approach with for loop
num_sq_list = []
for n in nums:
    num_sq_list.append(n*n)
print(num_sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [77]:
### List comprehesnion way - better than maps and lamdas
num_sq_list = [n*n for n in nums]
print(num_sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
### create a new list with only evens - have the class do, then show
even_num_list = []

for n in nums:
    if n%2 == 0:
        even_num_list.append(n)
print(even_num_list)

[2, 4, 6, 8, 10]

In [80]:
### list comp way

even_num_list = [n for n in nums if n%2 == 0]
print(even_num_list)

# similar to filter and lambda functions

[2, 4, 6, 8, 10]

In [81]:
# Get a number, letter pair for each num in '1234' and for each letter 
# in 'abcd'

## for loop way 

pair_list = []

for num in range(1,5):
    for char in 'abcd':
        pair_list.append((num, char)) ## appending a tuple
        
print(pair_list)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [82]:
## List comp way

pair_list = [ (num, char) for num in range(1,4) for char in 'abcd']
print(pair_list)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd')]

In [290]:
## Dictionary Comprehensions ##

countries = ['USA', 'France', 'Spain', 'Germany', 'Japan']
capitals = ['Washington DC', 'Paris', 'Madrid', 'Berlin', 'Tokyo']

# above both match index to index -- related to one another idx to idx
## Show zip function --> zip function matches 1:1 in a tuple

country_dict = {}

for cntry, cap in zip(countries, capitals):
    country_dict[cntry] = cap
print(country_dict)

{'USA': 'Washington DC', 'France': 'Paris', 'Spain': 'Madrid', 'Germany': 'Berlin', 'Japan': 'Tokyo'}

In [91]:
## Let's do list comp way

country_dict = {cntry:cap for cntry, cap in zip (countries, capitals)}
print(country_dict)

{'USA': 'Washington DC', 'France': 'Paris', 'Spain': 'Madrid', 'Germany': 'Berlin', 'Japan': 'Tokyo'}

In [92]:
### Easy to add restrictions. May be we don't want to add Spain to the list
country_dict = {cntry:cap for cntry, cap in zip (countries, capitals) if cntry != 'Spain'}
print(country_dict)

## comp - make it easy to add loops and conditions on existing comps

{'USA': 'Washington DC', 'France': 'Paris', 'Germany': 'Berlin', 'Japan': 'Tokyo'}

In [94]:
## Set Comprehensions ##

## Set - all unique values

num_list = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,9,9]

## Creating by for loop way

num_set = set()

for n in num_list:
    num_set.add(n)
print(num_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [95]:
## List comp way

my_set = {n for n in num_list}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## FUNCTIONS

_Some instructions packed together that perform certain tasks_

### Empty Function

In [175]:
# () --> where we take parameters but don't have any now
def ex_func():
    # just to have an empty function but not defining anything to be executed yet
    # so just having 'pass' here won't throw any errors saying blank function
    pass

In [176]:
ex_func()

In [ ]:
# executes only with () but if we don't give, then it will just print the details that it is a function in main memory

In [177]:
ex_func

In [179]:
# Prints None since we are not doing anything  inside the function yet
print(ex_func())

None

### Valid Function

In [196]:
# Let's add something to func
def ex_func():
    print('Hello')

In [197]:
## One advantage of functions is code re-usability. We can use the same function multiple times to perform a repetitive task
## Specific purpose and available in a single location but can be accessed depending on its scope
## Can make any changes only in a single location and the changes would be reflected wherever used

In [198]:
print(ex_func())
print(ex_func())
## with 2 prints - the actual function gets executed and also the outer print statement which prints None

Hello
None
Hello
None

In [199]:
ex_func()

Hello

In [200]:
ex_func()

Hello

In [201]:
###### This is called keeping your code - DRY - Don't Repeat Yourself ######

### Returning Values

* Powerful feature of functions where certain value can be returned as a result of some actions
* Function takes an input and returns a value

In [229]:
def ex_func():
    return 'Hello'

In [230]:
ex_func()

'Hello'

In [231]:
## Can apply other functions to returned values
ex_func().lower()

'hello'

In [247]:
greeting = ex_func()
greeting

'Hello'

### Returning Multiple Values

In [248]:
def basic_calc(a, b):
    num_sum = a+b
    num_diff = a-b
    num_prod = a*b
    
    return num_sum, num_diff, num_prod

In [249]:
basic_calc(15,10)

(25, 5, 150)

In [250]:
res = basic_calc(15, 10)
res

(25, 5, 150)

In [254]:
sum_res, diff_res, mult_res = basic_calc(15, 10)
print('sum_res: ', sum_res)
print('diff_res: ', diff_res)
print('mult_res: ', mult_res)

sum_res:  25
diff_res:  5
mult_res:  150

### Passing Arguments

In [207]:
def ex_func(greeting, name):
    return f'{greeting} {name}'

In [208]:
ex_func()

TypeError: ex_func() missing 2 required positional arguments: 'greeting' and 'name'

In [209]:
ex_func('Hello', 'Class')

'Hello Class'

In [240]:
#### variables greeting, name are local to the function - local scope so they don't affect anything outside of 
#### the function

### Variable Scope

In [238]:
def create_list():
    ''' ex_list is local to the function'''
    ex_list = []
    # range(5) --> considers values from 0,1,2,3,4
    for i in range(5):
        ex_list.append(i)
    print('Example list from within the function: ', ex_list)

In [241]:
create_list()
print('ex_list from outside the function: ', ex_list)

Example list from within the function:  [0, 1, 2, 3, 4]

NameError: name 'ex_list' is not defined

In [243]:
# ex_list is global now
ex_list = []

def create_list():    
    for i in range(5):
        ex_list.append(i)
    print('Example list from within the function: ', ex_list)

In [245]:
create_list()
print('ex_list from outside the function: ', ex_list)

Example list from within the function:  [0, 1, 2, 3, 4, 0, 1, 2, 3, 4]
ex_list from outside the function:  [0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [246]:
create_list()
print('ex_list from outside the function: ', ex_list)

Example list from within the function:  [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]
ex_list from outside the function:  [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

### 'global' keyword

In [275]:
def create_list():
    ''' ex_list is global'''
    global gl_list
    gl_list = []
    # range(5) --> considers values from 0,1,2,3,4
    for i in range(5):
        gl_list.append(i)
    print('Example list from within the function: ', gl_list)

In [276]:
create_list()
print('ex_list from outside the function: ', gl_list)

Example list from within the function:  [0, 1, 2, 3, 4]
ex_list from outside the function:  [0, 1, 2, 3, 4]

#### IMPORTANT NOTE:

* Know how it works but avoiding over-using it.
* Typically, global variables are used to store some kind of state in a system. 
* If you find yourself using a lot of them, it may indicate a need for object-oriented programming.

### Default Values for Arguments

* In the above greeting, name are required arguments i.e function will throw an error if we call it without   specifying any values for those arguments
* We can use default values to fall back onto if no values are passed to the arguments

In [210]:
def ex_func(greeting='Hello', f_name, l_name):
    return f'{greeting} {f_name} {l_name}'

SyntaxError: non-default argument follows default argument (686097984.py, line 1)

#### Required positional or non-default arguments should come before default or key-word arguments

In [211]:
def ex_func(f_name, l_name, greeting='Hello'):
    return f'{greeting} {f_name} {l_name}'

In [212]:
ex_func('John', 'Doe')

'Hello John Doe'

In [214]:
# can pass our own greeting with specifying key value
ex_func('John', 'Doe', greeting='Welcome')

'Welcome John Doe'

In [215]:
ex_func('Doe', 'John', greeting='Welcome')

'Welcome Doe John'

In [217]:
# Can send in any order but then specify using the arg name
ex_func(l_name='Doe', f_name='John', greeting='Welcome')

'Welcome John Doe'

### *args, **kwargs
* Allow us to accept an arbitrary number of positional (*args) or keyword arguments (**kwargs)

In [219]:
# Common to see in python functions
def emp_info(*args, **kwargs):
    print('args: ', args)
    print('kwargs', kwargs)

* Let's say emp_info takes positional arguments on projects worked and then some random number of skills 
* In both these situations, we can't tell how many of these positional or keyword arguments there would be hence, we use *args, **kwargs
* args and kwargs are conventionally used but any other names can be used. 
* But recommended to follow conventions, so stick with those

In [220]:
emp_info("Web-App", 'DB', name='John Doe', city='Paris')

args:  ('Web-App', 'DB')
kwargs {'name': 'John Doe', 'city': 'Paris'}

In [221]:
## Observe that args is a tuple, kwargs is a dictionary with key-value pairs
## Can do anything with these data structures now

In [223]:
## Let's say we want to pass these values instead of declaring when calling the function
projects = ['Web-App', 'DB']
details = {'name': 'John Doe', 'city': 'Paris'}

In [226]:
emp_info(projects, details)
#not what we wanted, just considered for the args

args:  (['Web-App', 'DB'], {'name': 'John Doe', 'city': 'Paris'})
kwargs {}

In [227]:
## Use * and ** accordingly to unpack
emp_info(*projects, **details)

args:  ('Web-App', 'DB')
kwargs {'name': 'John Doe', 'city': 'Paris'}